{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div id="header">
    <ul id="nav-elements">
        <li><a href="{% url 'blog:home' %}">Home</a></li>
        <li><a href="{% url 'blog:create-post' %}"> Create Post</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="#"> {{  user.get_username }} </a> |
                <a href="{% url 'blog:logout' %}"> Logout</a></li>
        {% else %}
            <li><a href="#"> Registration </a> |
                <a href="{% url 'blog:login' %}"> Login</a></li>
        {% endif %}

    </ul>
</div>

{% block content %}
{% endblock %}

<div id="footer">
    <div class="copyright">
        <p>Copyright © 2024 Yaroslav Shmyhelskyi All rights reserved.</p>
    </div>
</div>


</body>
</html>